{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}        
        
            {% block small_navbar %}
            
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            {% endblock %}

            {% block content %}
            <style>
              .header{
                display: none;
              }
              .footer{
                display: none;
              }
              #hint_id_new_password1{
                display: none;
              }
            </style>

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url({% static 'assets/images/backgrounds/cridad-login.jpg' %});">
              <div class="container">
                <div class="form-box">
                  <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Password Reset</a>
                  </li>
                  
              </ul>
              <div class="tab-content">
                  <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                    {% if validlink %}
                    <form method="POST" action="">
                      {% csrf_token %}
                      {{ form|crispy }}

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                                <span>Change password</span>
                            </button>
                            
                      </div><!-- End .form-footer -->
                    </form>
                    {% else %}
                    <form>
                      <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                      </p>
                    </form>
                    {% endif %}
                   
                    <p class="text-center">
                      Copyright © <script>document.write(new Date().getFullYear())</script> Cridad Online Shopping. All Rights Reserved.
                    </p>
                    <hr>
                    <p class="text-center">
                      Powered by <a href="https://emmjoy.netlify.com" target="__blank" style="color:orange;">Emmjoy Techies</a>
                    </p>

                  </div><!-- .End .tab-pane -->
                  
              </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
              </div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
       
            {% endblock %}
