<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load cart_template_tags %}
<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}  {% endblock %} Cridad. The leading online store in west africa with the best and affordable goods.</title>
    <meta name="keywords" content="cridad, online shopping, supplier, wholesaler, buy and sell, starting a business, wholesalers, online shop">
    <meta name="description" content="Cridad.com is Ghana&#x27;s most trusted and leading ecommerce platform for individuals who wish to get the best out of the numerous goods in market. Navigate through our site and find the needed product on our site, add to cart and proceed with the payment. Cridad, best in Food &amp; Beverages, Agriculture &amp; Farming, Industrial Appliances, Clothing Apparels Categories.">
    <meta name="author" content="cridad">
    <meta name="twitter:creator" content="cridad">
    <meta name="twitter:site" content="cridad">
    <meta property="og:title" content="Cridad {{title}}"/>
    <meta property="og:description" content="Cridad.com is Ghana&#x27;s most trusted and leading ecommerce platform for individuals who wish to get the best out of the numerous goods in market. Navigate through our site and find the needed product on our site, add to cart and proceed with the payment. Cridad, best in Food &amp; Beverages, Agriculture &amp; Farming, Industrial Appliances, Clothing Apparels Categories." />
    <meta property="og:site_name" content="cridad"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.cridad.com"/>
    <meta name="twitter:image" content="{% static 'assets/images/icons/logo.png' %}"/>
    <meta name="twitter:description" content="Cridad.com is Ghana&#x27;s most trusted and leading ecommerce platform for individuals who wish to get the best out of the numerous goods in market. Navigate through our site and find the needed product on our site, add to cart and proceed with the payment. Cridad, best in Food &amp; Beverages, Agriculture &amp; Farming, Industrial Appliances, Clothing Apparels Categories."/>
    <meta property="og:image" content="{% static 'assets/images/icons/logo.png' %}"/>
    <meta name="fb:status" content="Cridad.com is Ghana&#x27;s most trusted and leading ecommerce platform for individuals who wish to get the best out of the numerous goods in market. Navigate through our site and find the needed product on our site, add to cart and proceed with the payment. Cridad, best in Food &amp; Beverages, Agriculture &amp; Farming, Industrial Appliances, Clothing Apparels Categories."/>
    <meta name="next-head-count" content="22"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/logo.png' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/logo.png' %}">
    <meta name="apple-mobile-web-app-title" content="Cridad">
    <meta name="application-name" content="Cridad">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    {% block css %}   

    {% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Ghs</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Ghs</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +233 546 873 228</a></li>
                                    <li><a href="{% url 'shop:wishlist-raw' %}"><i class="icon-heart-o"></i>Wishlist <span>({{request.user|wish_item_count}})</span></a></li>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a href="/logout"><i class="icon-user"></i>Logout</a></li>
                                    {% else %}
                                        <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="#" class="logo">
                            <img src="{% static 'assets/images/icons/logo.png' %}" alt="Cridad Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">

                                <li class="{% block shop1 %} {% endblock %}">
                                    <a href="{% url 'shop:shop' %}" class="sf-with-ul">Shop</a>
                                </li>
                                
                                <li class="{% block product1 %} {% endblock %}">
                                    <a href="" class="sf-with-ul">Dashboard</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">PROFILE</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="/user-dashboard">
                                                            {% if user.is_authenticated %}
                                                               Hi {{user.username}}
                                                            {% else %}
                                                                Hello User!
                                                            {% endif %}
                                                        </a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="/user-dashboard">
                                                        <img src="{% static 'assets/images/menu/banner-2.jpg' %}" alt="Cridad">

                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">View Profile<br><span><strong>
                                                                <script>
                                                                    document.write(new Date().getFullYear())
                                                                </script>
                                                            </strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                </li>
                                                              
                               
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class="dropdown compare-dropdown">
                            <a href="{% url 'shop:dashboard' %}" class="dropdown-toggle" title="User Dashboard">
                                <i class="icon-user"></i>
                            </a>
                            
                        </div><!-- End .compare-dropdown -->
                           
                        {% if user.is_authenticated %}
                        <div class="cart-dropdown">
                            <a href="{% url 'shop:order-summary-raw' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">{{request.user|cart_item_count}}</span>
                            </a>

                            <div  class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    
                                   {% for order_item in object.items.all %} 
                                    <!--Product in Cart-->
                                
                                    <div id="cartcart" class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="">{{order_item.item.title}}</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">{{order_item.quantity}}</span>
                                                x {% if order_item.item.discount %}
                                                    &#8373;{{order_item.get_total_discount_item_price}}
                                                  {% else %}
                                                    &#8373;{{order_item.get_total_item_price}}
                                                  {% endif %}

                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="{% url 'shop:order-summary-raw' %}" class="product-image">
                                                <img style="max-height: 60px;" src="{{order_item.item.photo.url}}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="{% url 'shop:remove-from-cart' order_item.item.pk %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                <!--Product in Cart ends here-->
                                {% empty %}
                                    <h4>Your cart is empty</h4>
                                    <style>
                                        #checkout_button{
                                            display: none;
                                        }
                                    </style>
                                {% endfor %}

                                </div><!-- End .cart-product -->
                               
                               
                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">&#8373;{{object.get_total}}</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="{% url 'shop:order-summary-raw' %}" class="btn btn-primary">View Cart</a>
                                    <a id="checkout_button" href="{% url 'shop:checkout' %}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->

                        {% else %}
                             <div class="cart-dropdown">
                                <a href="{% url 'shop:order-summary-raw' %}" class="dropdown-toggle">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">0</span>
                                </a>
                            
                            </div><!-- End .cart-dropdown -->

                        {% endif %}

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div style="display: none;"> cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad cridad store store store store store store store store store ghana ghana ghana ghana ghana ghana ghana ghana shop shop shop shop shop shop shopping shopping shopping shopping shopping shopping </div>

        	  {% block content %} 

            











              {% endblock %}
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="{% static 'assets/images/icons/logo.png' %}" class="footer-logo" alt="Cridad Logo" width="105" height="25">
	            				<p>Cridad.com is Ghana&#x27;s most trusted and leading ecommerce platform for individuals who wish to get the best out of the numerous goods in market. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-whatsapp"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Cridad</a></li>
	            					<li><a href="#">How to shop on Cridad</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            				   
                                   {% if user.is_authenticated %}	
                                    <li><a href="/logout">Log out</a></li>
	            				   {% else %}
                                    <li><a href="/login">Log in</a></li>
                                   {% endif %}
                                </ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Cridad Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                                       
                    <li class="{% block shop2 %} {% endblock %}">
                        <a href="{% url 'shop:shop' %}">Shop</a>
                    </li>
                    
                    <li class="{% block product2 %} {% endblock %}">
                        <a href="" class="sf-with-ul">Dashboard</a>
                        <ul>
                            <li><a href="{% url 'shop:dashboard' %}">Profile</a></li>
                        </ul>
                    </li>
                    
                                      
                   
                </ul>
            </nav><!-- End .mobile-nav -->

             <div class="social-icons">
                {% if user.is_authenticated %}
                <a style="background-color: #c48d6e;color: white;padding: 0px 30%;padding-top: 6px;padding-bottom: 6px;font-weight: 600;font-family: cambria;font-size: 14px;" href="/logout" title="Logout">Logout</a>
                {% else %}
                <a style="background-color: #c48d6e;color: white;padding: 0px 30%;padding-top: 6px;padding-bottom: 6px;font-weight: 600;font-family: cambria;font-size: 14px;" href="/login" title="Login">Login</a>
                {% endif %}

            </div><!-- End .social-icons -->
            <div style="padding: 32% 0px;"></div>
            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    {% block js %}


    {% endblock %}
    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>


</html>