{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password reset  - {% endblock %}
{% block shop1 %} active {% endblock %}
{% block shop2 %} active {% endblock %}

{% load static %}
{% block css %}  
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">
{% endblock %}
{% block content %}
        	<div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
        		<div class="container">
        			<h1 class="page-title">Change<span> Password</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">

                {% if messages %}
                    {% for message in messages %}
                        <div  class="alert alert-{{message.tags }}" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="container">
                    <ol class="breadcrumb">
                        
                        <li class="breadcrumb-item"><a href="{% url 'shop:shop' %}">Shop</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Password reset</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		
	                		<div class="col-md-8 col-lg-9">
	                			<a href="{% url 'shop:dashboard' %}">
	                			<button class="btn btn-outline-primary-2">
			                		<i class="icon-long-arrow-left"></i>
			                		<span>BACK TO DASHBOARD</span>
			            		</button>
			            		</a>
			            		<br><br>
	                			<form method="POST" action="">
                                    {% csrf_token %}
			                		{{ form|crispy}}

		                			<button type="submit" class="btn btn-outline-primary-2">
			                			<span>Update</span>
			            			</button>
			                	</form>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
{% endblock %}

{% block js %}
    
    <script src="{% static 'assets/js/wNumb.js' %}"></script>
    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
{% endblock %}

       