{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load paystack %}
{% block title %} Payment Page - {% endblock %}
{% block shop1 %} active {% endblock %}
{% block shop2 %} active {% endblock %}

{% load static %}
{% block css %}  
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">
{% endblock %}
{% block content %}
				<center>
								<aside class="col-lg-6">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						{% for order_item in object.items.all %}
		                						<tr>
		                							<td><a href="#">{{order_item.item.title}}</a></td>
		                							{% if order_item.item.discount %}
		                							<td>&#8373;{{order_item.item.discount}}</td>
		                							{% else %}
		                							<td>&#8373;{{order_item.item.price}}</td>
		                							{% endif %}
		                						</tr>
		                						{% endfor %}

		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>&#8373;{{object.get_total}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Delivery Cost:</td>
		                							<td>Free</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>&#8373;{{object.get_total}}</td>
		                						</tr><!-- End .summary-total -->

		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				{% paystack_button amount=object.get_total email=user.email currency='GHS' %}

		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->

		             </center>
{% endblock %}

{% block js %}
    
    <script src="{% static 'assets/js/wNumb.js' %}"></script>
    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
{% endblock %}